<div class="container">
    <div class="child mun-child">
        <a href="tel:2102990500">
            <mat-card class="example-card">
                <mat-card-header>
                    <img mat-card-avatar class="example-header-image" src="/assets/contact/korydallos.jpg" alt="Δήμος Κορυδαλλού"/>
                    <mat-card-title>Δήμος Κορυδαλλού</mat-card-title>
                    <mat-card-subtitle>2102990500</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </a>
    </div>
    <div class="child green-child">
        <a href="tel:100">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="/assets/contact/Elas.png" alt="Δήμος Κορυδαλλού"/>
                <mat-card-title>Αστυνομία</mat-card-title>
                <mat-card-subtitle>100</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        </a>
    </div>
    <div class="child yellow-child">
        <a href="tel:199">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="/assets/contact/166.png" alt="Δήμος Κορυδαλλού"/>
                <mat-card-title>Πυροσβεστική</mat-card-title>
                <mat-card-subtitle>199</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        </a>
    </div>
    <div class="child yellow-child">
        <a href="tel:166">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="/assets/contact/EKAB_logo.png" alt="Δήμος Κορυδαλλού"/>
                <mat-card-title>ΕΚΑΒ</mat-card-title>
                <mat-card-subtitle>166</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        </a>
    </div>
    <div class="child yellowad-child">
        <a href="tel:1135">
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar class="example-header-image" src="/assets/contact/eody-el.png" alt="Δήμος Κορυδαλλού"/>
                <mat-card-title>ΕΟΔΥ</mat-card-title>
                <mat-card-subtitle>1135</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        </a>
    </div>
</div>
