.example-card {
    max-width: 400px;
    padding: 5px;
    max-height: 60px;
  }
  
  .example-header-image {
    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100%;
    margin: 0px ;
    height: 80%;
    justify-content: space-evenly;
    
}


.child {
    margin: 0.4em;
    border-radius: 1em;
    height: 50px;
    align-items: center;
 
}

.child a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    text-align: center;
  }